.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
  margin-left: 230px;
  margin-top: 20px;
  margin-bottom: 20px;
}

iframe {
  margin-top:40px;
  border: none;
  float: left;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

body {
  /* background: floralwhite; */
  background: white;
}

img {
  width: 900px;
  height: auto;
  margin-bottom: 10px;
  margin-left: 90px;
  margin-top: 10px;
}

p {
  margin-left: 100px;
  font-size: 16px;
  font-family: comic sans ms;
}


h1 {
  margin-top: -0.5rem;
  /* font-family: Georgia; */
  font-family: comic sans ms;
  font-size: 20px;
  background: #98a6bb;
  color: white;
  padding: 20px;
  padding-left: 60px;
}

h2 {
  margin-top: -0.5rem;
  font-family: comic sans ms;
  font-size: 40px;
  /* background: #98a6bb; */
  color: black;
  /* padding: 20px;
  padding-left: 60px; */
  /* animation: title 1.2s forwards linear;   */
  /* animation: smaller-title 1.2s forwards linear; */
}

h3 {
  margin-top: -0.5rem;
  font-family: comic sans ms;
  font-size: 50px;
  /* font-style: italic bold; */
  /* background: #98a6bb; */
  color: red;
  /* padding: 20px;
  padding-left: 60px; */
  /* animation: title 1.2s forwards linear;   */
}


/* .hero {
  position: relative;
  height: 550px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("pay_gap.gif");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero h1 {
  margin-top: 200px;
  font-size: 0.1rem;
  animation: title 1.2s forwards linear;
} */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  /* background-color: #f5f5f5; */
  background-color: #98a6bb;
  /* color: rgb(83, 83, 83); */
  color: white;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 750px) {
  .iframeContainer {
    margin: 0;
    margin-top: 20px;
  }

  @keyframes title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 7.5rem;
      opacity: 1;
    }
  }
  
  @keyframes smaller-title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 5.5rem;
      opacity: 1;
    }
  }

  /* img {
    width: 610px;
    height: auto;
  } */

  p {
    margin: 0;
    margin-top: 20px;
  }
}